@import "/src/sass/configStyles/config";

.cart {
  width: 100%;
  background-color: $white;
  padding: $p-lg $p-md $p-sm;
  @include flex(left, center, center, column);

  &-empty {
    gap: 3.5em;
    height: 100vh;
    background: $white;
    @include flex(center, center, center, column);

    h2 {
      color: $green;
      font-size: 3.5rem;
    }

    button {
      @include button;
    }
  }

  &-icon {
    position: relative;

    & > span {
      top: -8px;
      z-index: 10;
      width: 20px;
      right: -8px;
      padding: 5px;
      height: 20px;
      display: flex;
      color: white;
      font-size: 13px;
      position: absolute;
      border-radius: 20px;
      align-items: center;
      background: crimson;
      justify-content: center;
    }
  }

  &__header {
    margin: 0 0 2em;

    h1 {
      color: $black;
      font-size: $h2;
      font-weight: 500;
      font-family: $dms;
      font-style: normal;
      line-height: normal;
    }
  }

  &__item {
    max-width: 70em;
    margin: 0 0 5em;
    padding: $p-sm;
    border: 1px solid #ccc;
    @include flex(center, center, space-between, column);

    &-details {
      width: 100%;
      padding: 2em 0;
      position: relative;
      @include flex(left, center, space-between, row);

      &-name {
        color: $black;
        font-weight: 500;
        font-family: $dms;
        font-style: normal;
        line-height: normal;
        font-size: calc($h3 - 0.2rem);
      }

      &-price {
        color: $dark;
        line-height: 2.5;
        font-weight: 500;
        font-family: $dms;
        font-style: normal;
        font-size: calc($h4 + 0.3rem);
      }

      &-quantity {
        gap: 1.5em;
        @include flex(unset, center, flex-start, row);

        h4 {
          color: $dark;
          font-weight: 500;
          font-family: $dms;
          font-style: normal;
          line-height: 1.25rem;
          letter-spacing: -0.08125rem;
          font-size: calc($h4 + 0.2rem);
        }
      }

      &-rating {
        right: 0;
        gap: 0.5em;
        top: 2.5em;
        position: absolute;
        @include flex(unset, center, center, row);

        img {
          height: 1.5em;
        }
      }

      &-remove {
        right: 0;
        bottom: 1.5em;
        color: $white;
        width: 3em;
        height: 3em;
        font-size: 1rem;
        font-weight: 700;
        position: absolute;
        background: $green;
        @include flex(unset, center, center, row);
      }
    }
  }

  &__summary {
    gap: 0.5em;
    width: 100%;
    max-width: 70em;
    padding: $p-sm 0;
    background-color: $green;
    @include flex(center, center, center, column);

    & h2,
    p {
      color: $white;
      font-weight: 500;
      font-family: $dms;
      font-style: normal;
      line-height: normal;
      font-size: calc($h4 + 0.3rem);
    }

    &-subtotal {
      width: 100%;
      padding: 0 $p-sm;

      & > div {
        width: 100%;
        margin: $p-md 0 $p-sm;
        @include flex(unset, center, space-between, row);
      }
    }

    hr {
      width: 100%;
      height: 0.06em;
      background-color: $white;
    }

    &-total {
      width: 100%;
      padding: 0 $p-sm;
      @include flex(unset, center, space-between, row);
    }

    &-checkout-link {
      gap: 1em;
      margin: 1em 0;
      padding: 0.5em 1em;
      background-color: $white;
      @include flex(unset, center, center, row);

      p {
        color: $dark;
        font-weight: 500;
        font-family: $dms;
        font-style: normal;
        line-height: normal;
      }

      &:hover {
        gap: 1.7em;
        @include transition;
      }
    }
  }
}

@media (min-width: 50em) {
  .cart {
    padding: $p-sm;

    &__header {
      width: 100%;
      max-width: 70em;

      h1 {
        font-size: calc($h2 - 0.3rem);
      }
    }

    &__item {
      gap: $p-md;
      width: 100%;
      flex-direction: row;
    }

    &__item-details-rating {
      top: -1.5em;
    }

    &__item-details-remove {
      bottom: -1.2em;
    }

    &__summary-subtotal > div {
      margin: $p-sm 0;
    }
  }
}
