@import "/src/sass/configStyles/config";

.main {
  padding: 0;
  position: relative;
  background-color: $white;
  @include flex(center, center, center, column);

  .hero-wrapper {
    width: 100%;
  }

  .hero {
    padding: 0;
    width: 100%;
    @include flex(center, center, center, column);

    .hero__image {
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/src/assets/images/home/hero-bg.png");
    }

    .hero__text-content {
      gap: 1.5em;
      z-index: 10;
      padding: $p-md;
      line-height: 1.2;
      position: absolute;
      @include flex(center, center, center, column);

      &-heading {
        color: $white;
        font-size: $h1;
        font-weight: 700;
        font-family: $dms;
        font-style: normal;
        text-align: center;
        line-height: normal;
      }

      &-description {
        color: $white;
        font-size: $h1;
        font-weight: 500;
        font-family: $dms;
        font-style: normal;
        text-align: center;
        line-height: normal;
        font-size: calc($h4 + 0.2rem);
      }

      &-btn {
        @include button;
      }
    }
  }

  .rune-info {
    padding: $p-lg;
    margin-top: -1em;
    background-color: $green;
    @include flex(center, center, center, column);

    p {
      font-weight: 500;
      font-family: $dms;
      font-style: normal;
      line-height: normal;
      font-size: calc($h4 + 0.2rem);
      color: rgba(255, 255, 255, 0.77);
    }
  }

  .hero-detail {
    width: 100%;
    padding: $p-sm;
    @include flex(center, center, center, column);

    .products {
      @include flex(center, center, center, column);

      .product-cards {
        padding: $p-lg 0;

        .product-card__heading {
          color: $green;
          font-size: $h2;
          font-weight: 700;
          font-family: $dms;
          font-style: normal;
          line-height: normal;
          padding: 1em 0;
        }

        .product-card__container1,
        .product-card__container2,
        .product-card__container3 {
          gap: 2em;
          @include flex(center, center, center, column);

          .product-card {
            position: relative;

            .product-card__content {
              left: 5%;
              bottom: 5%;
              position: absolute;

              .product-card__title {
                color: $white;
                font-weight: 700;
                font-family: $dms;
                font-style: normal;
                line-height: normal;
                font-size: calc($h3 - 0.5rem);
              }
            }
          }
        }
      }
    }

    .main-content {
      gap: 4em;
      padding: $p-md 0;
      @include flex(left, center, center, column);

      .main-content__text {
        &-title {
          color: $green;
          font-weight: 700;
          line-height: 1.2;
          font-family: $dms;
          font-style: normal;
          letter-spacing: -0.16rem;
          font-size: calc($h1 - 0.7rem);
        }

        &-description {
          color: $dark;
          padding: 1em 0;
          font-weight: 500;
          font-family: $dms;
          font-style: normal;
          font-size: calc($h3 - 0.5rem);
        }

        &-btn {
          @include button;
          padding: 1em 3.5em;

          a {
            color: $white;
          }
        }
      }
    }

    .opening-hours {
      gap: 3em;
      width: 100%;
      margin: $p-xl 0 0;
      padding: $p-xl;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("/src/assets/images/home/Rectangle 16.png");

      @include flex(center, center, center, column);

      &__title {
        color: $white;
        font-weight: 500;
        font-family: $dms;
        font-style: normal;
        line-height: normal;
        font-size: calc($h1 - 0.5rem);
      }

      &__details {
        gap: 3em;
        @include flex(center, center, center, column);
      }

      &__day {
        gap: 0.5em;
        @include flex(center, center, center, column);
      }

      &__day h4 {
        color: $white;
        font-weight: 500;
        font-family: $dms;
        font-style: normal;
        line-height: normal;
        font-size: calc($h3 - 0.5rem);
      }

      &__day p {
        color: $white;
        font-size: $h4;
        font-weight: 500;
        font-family: $dms;
        font-style: normal;
        line-height: normal;
      }
    }
  }
}

@media (min-width: 40em) {
  .product-card__container1,
  .product-card__container2,
  .product-card__container3 {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }

  .product-card__container3 div:nth-child(3) {
    grid-area: 1/2/3;
  }
}

@media (min-width: 50em) {
  .rune-info {
    padding: $p-md !important;
  }

  .product-cards {
    padding: 0 !important;
  }

  .main-content {
    padding: $p-lg 0 0 !important;
    flex-direction: row !important;

    .main-content__text {
      width: 40em;
    }
  }

  .opening-hours {
    padding: 16% $p-md !important;
  }
}

@media (min-width: 70em) {
  .hero__text-content {
    width: 75em;
  }

  .rune-info {
    padding: $p-sm !important;
  }

  .product-card__container1,
  .product-card__container3 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .product-card__container3 div:nth-child(3) {
    grid-area: 1/3/3;
    margin-top: -2em;
  }

  .opening-hours {
    padding: 16% $p-md !important;
    margin: $p-lg 0 0 !important;
    background-size: contain !important;
    background-repeat: repeat !important;

    &__details {
      flex-direction: row !important;
    }
  }
}
