@import "/src/sass/menuStyles/menu";
@import "/src/sass/blogStyles/blog";
@import "/src/sass/cartStyles/cart";
@import "/src/sass/homeStyles/home";
@import "/src/sass/aboutStyles/about";
@import "/src/sass/orderStyles/order";
@import "/src/sass/footerStyles/footer";
@import "/src/sass/navbarStyles/navbar";
@import "/src/sass/configStyles/config";
@import "/src/sass/contactStyles/contact";
@import "/src/sass/deliveryStyles/delivery";
@import "/src/sass/paymentMethodStyles/paymentMethod";
@import "/src/sass/paymentSuccessfulStyles/paymentSuccessful";
